DB_USER=your_db_user
DB_NAME=your_db_name
DB_HOST=/var/run/postgresql
DB_PORT=5432
DB_PASSWORD=your_db_password
JWT_SECRET=generate_with_crypto_randomBytes_32_hex
PORT=3004
SF_PASSWORD=your_game_server_admin_password
